body {
  background: url("https://files.catbox.moe/cx66yf.png") fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

#main p {
  background-color: #000;
  padding: 10px;
  border: 2px solid #000001;
  box-shadow: 5px 5px #000;
  color: #fff;
}

#main a {
  color: #fff;
}

#profile-top-right .left h1 {
  background: linear-gradient(90deg, #add8e6, pink, #fff, pink, #add8e6);
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
  width: max-content;
}

#profile-top-right .left p {
  background: linear-gradient(90deg, #d52d00, #ef7627, #fff, #b55690, #a30262);
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
  width: max-content;
}

#main {
  background: linear-gradient(90deg, red, red, #ff8000, #ff0, #80ff00, #0f0, #00ff80, #0ff, #0080ff, #00f, #7f00ff, #f0f, #ff007f, #ff007f, #f0f, #7f00ff, #00f, #0080ff, #0ff, #00ff80, #0f0, #80ff00, #ff0, #ff8000, red, red, #ff8000);
  background-size: 1200% 100%;
  animation: 20s linear infinite rainbowShift;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  background-image: url("https://wallpapercave.com/wp/wp5133248.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
  animation: 2.5s forwards fadeOut;
}

@keyframes rainbowShift {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}

#profile-top-left > img {
  animation: .5s infinite forwards wobble;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: rotate(-50deg)translateY(10px);
  }

  25%, 75% {
    transform: rotate(0)translateY(0);
  }

  50% {
    transform: rotate(50deg)translateY(10px);
  }
}

@keyframes wobble {
  from {
    transform: rotate(-4deg)translateY(0)translateX(-3%);
    animation-timing-function: ease-in;
  }

  25% {
    transform: rotate(0)translateY(8%)translateX(0);
    animation-timing-function: ease-out;
  }

  50% {
    transform: rotate(4deg)translateY(0)translateX(3%);
    animation-timing-function: ease-in;
  }

  75% {
    transform: rotate(0)translateY(8%)translateX(0);
    animation-timing-function: ease-out;
  }

  to {
    transform: rotate(-4deg)translateY(0)translateX(-3%);
    animation-timing-function: ease-in;
  }
}

@keyframes rainbowShift {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}

:root:has(#header-avatar[src*="https://avatar.cdn.sillypost.net/334d2962-7ce3-40e7-b40f-027f710a342c.png"]) {
  & #profile-relationship-status:after {
    content: " (hi jade :3)";
  }
}
